<header class="w-full bg-white flex justify-between items-center px-14 py-4">
            <a href="/">
                <img src="../../img/ice-cream.png" alt="Logo" class="h-12">
            </a>


        <nav>
            <ul class="flex gap-3 font-semibold ">
                <li>
                    <a class=" text-slate-600 no-underline" href="/">Home</a>
                </li>
                <li>
                    <a class="text-slate-600 no-underline" href="/about">Gallery</a>
                </li>

            </ul>
        </nav>


</header>